{% extends 'core/base.html' %}

{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet"/>
{% endblock css %}

{% block select %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
{% endblock select %}


{% block content %}

    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pedidos</h1>
      <p class="lead">Faça aqui o seu pedido.</p>
    </div>

    <div class="container">
        <div class="row">
          <form action="" method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="col-xs-8 col-md-5">
                      <h3 class="lead">Cliente</h3>
                      {{ forms.cliente }}
                      {{ formset.management_form }}
                  </div>
              </div>

              <h3 class="lead mt-4">Produtos</h3>
                  <div id="order" class="form-inline">
                      {% for item_order_form in formset %}
                      <div id="item-{{ forloop.counter0 }}" class="form-group" style="margin-top: 10px">
                        {% for item in formset %}
                        <span class="mr-3">{{ item.produto }}</span>
                        <span class="mr-3">{{ item.quantidade }}</span>
                        <span class="mr-3">{{ item.preco }}</span>
                        {% endfor %}
                      </div>
                      {% endfor %}
                  </div>

              <button class="btn btn-sm btn-info my-4" id="add-item">Add item</button>

              <div class="form-inline buttons">
                  <button class="btn btn-primary pull-right" value="Save">
                      <i class="fa fa-floppy-o"></i>
                      Salvar
                  </button>
              </div>
          </form>
        </div>
    </div>

{% endblock %}

    {% block script %}
    <script>
		$(document).ready(function () {
			$("#add-item").click(function (ev) {
				ev.preventDefault();
				var count = $('#order').children().length;
				var tmplMarkup = $("#item-order").html();
				var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count);
				$("div#order").append(compiledTmpl);
				// update form count
				$('#id_produto-TOTAL_FORMS').attr('value', count + 1);
				$('#id_produto-TOTAL_FORMS').attr('class', form-control-sm);
				$('#id_produto-' + (count) + '-produto').select2();
				$('html, body').animate({
					scrollTop: $("#add-item").position().top - 200
				}, 800);
			  
        	});
			// {}
			$('select').select2();
        });
    </script>

    <script>
        $(document).ready(function() {
           $("#home-id").addClass("btn btn-success");
           console.log(document.getElementById('home-id'))
        });
    </script>

    <script>
        $(document).ready(function() {
           console.log(document.getElementsByClassName('select2-selection'));
        });
    </script>

    <script type="text/html" id="item-order">
      <div id="item-__prefix__" class="form-group" style="margin-top: 10px">
        {% for item in formset.empty_form %}
        <span class="mr-3">{{ item }}</span>
        {% endfor %}
      </div>
	</script>

    {% endblock script %}
